<!DOCTYPE html>
<html lang="en">

<head>
    <title> Team Members </title>
    <meta charset="UTF-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Alternate Google Font for Headers/Navigation w/ Supplementary Stylesheet-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="$$designTag">
   <!-- <link rel="stylesheet" href="./assets/styles.css">-->
</head>     
    
   
<!-- Body -->
<body>
<div class="container-fluid">


    <div class="row">
        <header class="page-header h-2 bg-dark col-sm-12 col-md-12 d-flex bd-highlight mp3 align-items-center text-light" style="font-family: 'Rajdhani', sans-serif;">
            <h1 class="mr-auto p-2 bd-highlight" id="brand" >Team Members </h1>
        </header>
    </div>

    <div class="row">
        <div class = "col-sm-12 col-md-12 d-flex justify-content-center align-items-center text-light" style="background-color: #FF6219;">
            <h4 class="d-flex align-items-center" style = "font-family: 'Rajdhani', sans-serif; font-weight: 300; font-size: 20px">A CLI Team-Member Generator</p>
        </div>   
        
    </div>
    
    <div class= "row">
        <div class = "col-md-12 d-flex justify-content-center align-items-center text-light" id="imgWrapper">
            <img src="./assets/DataCenter.jpeg" alt="Picture of data Center">
        </div>
   </div>

   <div class="row mt-3" >
    <div class = "col-sm-12 col-md-12 d-flex justify-content-center align-items-center">
        <h1 class="d-flex align-items-center" style = "font-family: 'Rajdhani', sans-serif; font-weight: 300;">Team Members</p>
        <hr>
    </div>
</div>

<section id="teamWrapper mt-1">
    <ul class = "list-unstyled" id="memberList">
        $$staff_listings
    </ul>

</section>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="$$scriptTag"></script>

</div>
</body>
</html>       